* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    background: rgb(0, 129, 209);
}

nav {
    width: 1020px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-vitrine, .search-results {
    margin-top: 24px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    margin: 0 16px;
    list-style: none;
    color: #000000;
    cursor: pointer;
}

.box-logo {
    display: flex;
    align-items: center;
}

.box-logo-link {
    display: flex;
    align-items: center;
}

.backgroundImg {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.backText {
    width: 100%;
    height: 100%;
    font-size: 36px;
    color: #fff;
    padding: 0 200px;
    background: #0000008c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.topnav {
    display: flex;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #0081D1, rgba(255, 255, 255, 0.75), #0081D1);
}

.black {
    background-image: linear-gradient(to right, #000000, rgba(255, 255, 255, 0.75), #000000);
}

.blue {
    background-image: linear-gradient(to right, #005587, rgba(255, 255, 255, 0.75), #005587);
}

.topnav-link {
    position: relative;
    font-size: 0.8889em;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    margin: 0 13px;
    overflow: hidden;
}

.topnav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(0, 129, 209);
    transition: width 0.5s ease-in-out;
}

.topnav-link:hover::before,
.topnav-link.active::before {
    width: 100%;
}

.backgroundImg {
    width: 100%;
    height: 870px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.hidden-header {
    background-color: #0081D1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-invisible {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sec-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    padding: 0 16px;
}

.search-bar {
    width: 100%;
    max-width: 1020px;
}

.product-search {
    width: 100%;
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.search__container {
    padding: 24px 0
}

.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z' fill='%23ffffff' /%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #ffffff;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    background-position: 100% center;
}


.topnav-link button {
    text-decoration: none;
    border:  none;
    background: transparent;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.sec-01,
.sec-02 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 82px;
}

.sec-divisor {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.container-global-sec01 {
    max-width: 1126px;
}

.section-result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-result div {
    max-width: 1126px;
}

.box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin: 0 38px 32px;
}

.box-title-divisor {
    max-width: 1126px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.box-text-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 16px 38px 0px;
}

.slider-title {
    text-align: center;
}

.box-text-products-p {
    text-align: justify;
}

.box-text-products-ul {
    margin-left: 20px;
}

.box-text-products-li {
    text-align: justify;
    font-size: 18px;
}


.box-caroussel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 64px 0;
}


.card-item {
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -4px rgba(255, 255, 255, 0.1);
    transition: opacity 0.3s ease-in-out;
    opacity: 0.1;
    flex-shrink: 0;
}

.box-caroussel .card-item {
    max-width: 700px;
}


.cards::-webkit-scrollbar {
    display: none;
}

.cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.neon {
    opacity: 1;
}

.button-caroussel {
    border: none;
    background: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-consult {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgb(45, 189, 255) 0%, rgb(0, 131, 210) 100%);
    border: none;
    color: #fff;
}

.button-consult:hover {
    color: rgb(0, 104, 170);
    border: 1px solid;
    border-color: rgb(0, 104, 170);
    background: rgb(239, 249, 255);
}

.radioDiv {
    display: flex;
}

@keyframes arrowRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes arrowLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.button-caroussel span {
    font-size: 64px;
    cursor: pointer;
}

.arrow-left span {
    animation: arrowLeft 1s linear infinite;
}

.arrow-right span {
    animation: arrowRight 1s linear infinite;
}

.sec-02,
.sec-divisor {
    background: #005587;
    flex-direction: column;
}

.sec-02 {
    margin-top: 0 !important;
}

.sec-divisor {
    width: 100%;
}

.cropped {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cropped img {
    width: 600px;
}

.container-global-sec02 .box-title {
    color: #fff;
}

.box-img {
    display: flex;
    align-items: flex-start;
}

.container-global-sec02 {
    height: 800px;
}

.box-quemsomos {
    max-width: 960px;
    background-color: #0082d2eb;
    border-radius: 50px;
    padding: 38px;
    margin: 38px;
    border: 1px solid #009dff;
    z-index: 1;
}

.img-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(./assets/imgs/img-main/sobrenos2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.box-text-sobre {
    text-align: justify;
    color: #fff;
}

.sec-03 {
    background: linear-gradient(to bottom right, #0083d2, #36b7fa);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 84px 0;
}

.box-wpp {
    display: flex;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    margin: 38px;
}

.box-wpp img {
    width: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#whatsappForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
}

textarea#message {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
    resize: none;
    min-height: 100px;
}

#name {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-wpp {
    width: 100%;
    background-color: #00ac00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-wpp:hover {
    background-color: #fff;
    color: #00ac00;
    outline: 0.1px solid #00ac00;
}

footer {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social p {
    font-size: 12px;
    margin: 0 32px;
}

.foot {
    height: 110px;
    background-color: #000
}

.icon {
    display: none;
}

.topnavMobile {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    padding: 18px 0px;
    top: 150px;
    right: 0%;
    background-color: rgb(0, 129, 209);
    z-index: 999;
}

.mobileButton {
    display: none;
}

@media (max-width: 964px) {
    .backText {
        font-size: 24px;
        padding: 0 34px;
    }

    .backgroundImg {
        height: 600px;
    }

    .box-title h1 {
        font-size: 24px !important;
    }

    .box-title-divisor h1 {
        font-size: 24px !important;
    }

    .box-text-products p {
        font-size: 20px;
    }

    .box-text-products-li {
        font-size: 16px;
    }

    .slider {
        width: 325px !important;
        margin: 0 !important;
    }

    .slider-title {
        font-size: 20px;
    }

    .slider-main {
        flex-direction: column;
        padding-top: 0rem !important;
        padding-bottom: 3rem !important;
    }

    .slides {
        height: 325px;
    }

    .box-caroussel .slides {
        height: 325px !important;
    }

    .slide img {
        width: 300px !important;
    }

    .navigation-auto {
        width: 327px !important;
    }

    .manual-navigation {
        width: 327px !important;
    }

    .cropped img {
        width: 300px;
    }

    .sec-03 {
        padding: 84px 0;
    }

    .box-wpp {
        flex-direction: column;
    }

    #whatsappForm {
        max-width: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .box-wpp img {
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0 !important;
    }

    .topnav-link {
        margin: 0 16px;
    }

    .topnav {
        display: none;
    }

    .topnav-link {
        margin: 10px 0;
    }

    .icon {
        display: flex;
        text-align: center;
    }

    .foot {
        height: 151px;
        text-align: center;
    }

    .button-caroussel {
        display: none;
    }

    .mobileButton {
        display: flex;
    }

    .button-caroussel-mobile {
        border: none;
        background: none;
        color: #fff;
        display: flex;
        align-items: center;
        margin: 0 32px;
    }

    .button-caroussel-mobile span {
        font-size: 64px;
    }

    .box-vitrine, .search-results {
        flex-direction: column;
        justify-content: center;
    align-items: center;
        margin: 32px 0;
    }

    .box-vitrine .card-item {
        margin: 16px 0 !important;
    }

    .mobile-nav {
        display: flex !important;
        flex-wrap: wrap;
        margin: 0 16px !important;
        align-items: center;
    justify-content: center;
    }

    .mobile-nav .topnav-link {
        padding: 15px 15px;
        margin: 15px 0;
        border-left: 1px solid white;
        border-right: 1px solid white; 
    }

    .mobile-nav-center {
        height: unset !important;
    }
}

.section-result {
    padding-top: 32px;
}

body {
    background-color: #0081D1
}

.footer-message {
    margin-top: 16px;
}

.verMais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}


.button-bonito {
    display: inline-block;
    padding: 10px 20px;
    background-color:   #005A99;/* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

/* Efeito de hover para o botão */
.button-bonito:hover {
    background-color: #dff3ff; 
    color: black;/* Cor de fundo quando o mouse está sobre o botão */
}