.slider-main {
    padding-top: 3rem;
    display: flex;
}
.slider {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.363);
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
}

.slides {
    width: 500%;
    height: 400px;
    display: flex;
    background-color: #ffff;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 0.6s;
}

.slide img {
    width: 400px;
}

.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6;
}

.navigation-auto {
    position: absolute;
    width: 400px;
    margin-top: 370px;
    display: flex;
    justify-content: center;
   
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: black;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: black;
}


/* slider2 */
.slider2 {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.363);
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
}

.slides2 {
    width: 500%;
    height: 400px;
    display: flex;
    background-color: #ffff;
}

.slides2 input {
    display: none;
}

.slide2{
    width: 25%;
    position: relative;
    transition: 0.6s;
}

.slide2 img {
    width: 400px;
}

.manual-navigation2 {
    position: absolute;
    width: 400px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.manual-btn2 {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.manual-btn2:not(:last-child) {
    margin-right: 20px;
}

.manual-btn2:hover{
    background-color: black;
}

#radio2-1:checked ~ .first2 {
    margin-left: 0;
}

#radio2-2:checked ~ .first2 {
    margin-left: -25%;
}

#radio2-3:checked ~ .first2 {
    margin-left: -50%;
}

#radio2-4:checked ~ .first2 {
    margin-left: -75%;
}

#radio2-5:checked ~ .first2 {
    margin-left: -100%;
}

.navigation-auto2 div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6;
}

.navigation-auto2 {
    position: absolute;
    width: 400px;
    margin-top: 370px;
    display: flex;
    justify-content: center;
   
}

.navigation-auto2 div:not(:last-child) {
    margin-right: 20px;
}

#radio2-1:checked ~ .navigation-auto2 .auto-btn2-1 {
    background-color: black;
}

#radio2-2:checked ~ .navigation-auto2 .auto-btn2-2 {
    background-color: black;
}

#radio2-3:checked ~ .navigation-auto2 .auto-btn2-3 {
    background-color: black;
}

#radio2-4:checked ~ .navigation-auto2 .auto-btn2-4 {
    background-color: black;
}

#radio2-5:checked ~ .navigation-auto2 .auto-btn2-5 {
    background-color: black;
}

